@font-face {
  font-family: 'Neue Haas Unica';
  src: url('./NeueHaasUnica-Light.woff2') format('woff2'),
    url('./NeueHaasUnica-Light.woff') format('woff'),
    url('./NeueHaasUnica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('./NeueHaasUnica-Regular.woff2') format('woff2'),
    url('./NeueHaasUnica-Regular.woff') format('woff'),
    url('./NeueHaasUnica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('./NeueHaasUnica-Bold.woff2') format('woff2'),
    url('./NeueHaasUnica-Bold.woff') format('woff'),
    url('./NeueHaasUnica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
